body{
    line-height: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    display: block;
    margin: 0;
  }
  
  #img-div{
    background-color: white;
    padding: 0;
    margin: 0;
  }
  
  img{
    display: block;
    max-height: calc(100vh - 20px);
    width: calc(100% - 20px);
    max-width: 100%;
    margin: 10px auto;
    object-fit: contain;
    align-items: center;
  }
  
  #title{
    font-family: "DM Serif Display",sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }
  p{
    font-size: 1.5rem;
    text-align: center;
  }
  
  #img-caption{
    font-family: sans-serif;
    font-size: 1.3rem;
  }
  li{
    margin: 16px 0;
  
  }
  
  ul{
    max-width: 600px;
    line-height: 1.6;
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 0 auto 50px auto;
  }
  
  #headline{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
  }